.swiper-container-index {
    width: 600px;
    height: 300px;
}
.swiper-container-index .swiper-slide-hj0{
     background-image: url("../images/hj0.jpg");
     background-size: cover;
 }
.swiper-container-index .swiper-slide-hj2{
    background-image: url("../images/hj2.jpg");
    background-size: cover;
}
.swiper-container-index .swiper-slide-hj21{
    background-image: url("../images/hj21.jpg");
    background-size: cover;
}
.swiper-container-index .swiper-slide-hj3{
    background-image: url("../images/hj3.jpg");
    background-size: cover;
}
.swiper-container-index a {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    display: block;
    width: 600px;
    position: absolute;
    bottom: 60px;
}
.swiper-container-index a:hover{
    color: blue;
}
.yf {
    width: 100px;
    height: 100px;
}
.wxsq {
    width: 150px;
    height: 150px;
}
